* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEFAE0;
  color: #798252;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

header {
  padding: 80px;
  background-color: #606C38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem; /* padding só nas laterais */
  box-sizing: border-box;
}

.logo img {
  height: 90px;
  width: auto;
  object-fit: contain;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #DDA15E;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.search-input {
  border: none;
  background: transparent;
  color: #000;
  font-size: 1rem;
  outline: none;
  margin-left: 0.5rem;
}

.search-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.lupa {
  width: 20px;
  height: 20px;
}

.login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  cursor: pointer;
}

.user-icon {
  height: 35px;
}